server:
  port: ${SERVER_PORT:8001}

spring:
  application:
    name: orderservice
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: ${DLL-AUTO:update}
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: ${JPA_SHOW_SQL:false}
  messages:
    basename: ValidationMessages
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.type.mapping:
          orderPlacedEvent:com.dzerain.orderservice.kafka.event.OrderPlacedEvent
    consumer:
      group-id: order-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.type.mapping:
          orderConfirmedEvent:com.dzerain.orderservice.kafka.event.OrderConfirmedEvent,
          orderCancelledEvent:com.dzerain.orderservice.kafka.event.OrderCancelledEvent,
          orderPlacedEvent:com.dzerain.orderservice.kafka.event.OrderPlacedEvent
        spring.json.trusted.packages: "*"

logging:
  level:
    org.hibernate.SQL: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  health:
    kafka:
      enabled: true